Repository KGU-C-Lab/threat-modeling, pull requests merged in 2024-03, with the labels that each got.

#12 ResultPage UI 개발 완료
  client/package.json
  client/src/components/common/Badge/Badge.tsx
  client/src/components/common/CheckBox/CheckBox.tsx
  client/src/components/common/Table/Table.tsx
  client/src/components/common/Tooltip/Tooltip.tsx
  client/src/components/result/TableContent/TableContent.tsx
  client/src/mocks/json/attack.json
  client/src/mocks/mocks.ts
  client/src/pages/ResultPage/.gitkeep
  client/src/pages/ResultPage/ResultPage.tsx
  client/src/router/Router.tsx
  client/src/utils/i18n.ts
  client/yarn.lock
Labels: ✨ Feature, 🌐 Client

#14 Attack 관련 API 및 성능 개선 완료
  server/build.gradle
  server/src/main/java/kr/re/dslab/threatmodeling/config/CacheConfig.java
  server/src/main/java/kr/re/dslab/threatmodeling/controller/AttackController.java
  server/src/main/java/kr/re/dslab/threatmodeling/exception/AsyncOperationException.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/ControlRepository.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/ControlRepositoryCustom.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/ControlRepositoryImpl.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/CveRepository.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/DefendRepository.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/DefendRepositoryCustom.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/DefendRepositoryImpl.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/MitigationRepository.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/MitigationRepositoryCustom.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/MitigationRepositoryImpl.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/AttackService.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/ControlService.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/CveService.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/DefendService.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/MitigationService.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/ControlResponseDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/DefendResponseDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/entity/Cve.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/entity/Defend.java
Labels: 🔨 Refactor, 💾 Server

#16 성능 개선, 데이터 추가
  server/build.gradle
  server/src/main/java/kr/re/dslab/threatmodeling/annotation/LogExecutionTime.java
  server/src/main/java/kr/re/dslab/threatmodeling/aspect/ExecutionTimeAspect.java
  server/src/main/java/kr/re/dslab/threatmodeling/config/AsyncConfig.java
  server/src/main/java/kr/re/dslab/threatmodeling/controller/AttackController.java
  server/src/main/java/kr/re/dslab/threatmodeling/controller/MitigationController.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/AttackRepository.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/ControlRepositoryCustom.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/ControlRepositoryImpl.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/DefendRepositoryCustom.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/DefendRepositoryImpl.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/MitigationRepositoryCustom.java
  server/src/main/java/kr/re/dslab/threatmodeling/repository/MitigationRepositoryImpl.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/AttackCacheService.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/AttackService.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/ControlService.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/CveService.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/DataInitializationService.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/MitigationService.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/json/ControlAttackAttackDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/json/ControlAttackDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/json/MitigationAttackAttackDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/json/MitigationAttackDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/json/MitigationDefendDefendDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/json/MitigationDefendDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/response/AttackRelatedResponseDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/response/AttackResponseDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/response/ControlResponseDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/response/CveResponseDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/response/DefendResponseDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/dto/response/MitigationResponseDto.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/entity/Attack.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/entity/Control.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/entity/Defend.java
  server/src/main/java/kr/re/dslab/threatmodeling/type/entity/Mitigation.java
  server/src/main/resources/mitigationAttackRelation.json
  server/src/main/resources/mitigationDefendRelation.json
Labels: 🔨 Refactor

#18 서버 성능에 의한 캐싱 오류 및 Swagger 이외의 경로에서 인증을 요구하는 문제 수정 완료
  server/src/main/java/kr/re/dslab/threatmodeling/config/AsyncConfig.java
  server/src/main/java/kr/re/dslab/threatmodeling/config/SecurityConstants.java
  server/src/main/java/kr/re/dslab/threatmodeling/service/AttackCacheService.java
Labels: 🐞 Bug

#19 결과 페이지 API 연동
  client/.env.example
  client/package.json
  client/src/api/.gitkeep
  client/src/api/attack.ts
  client/src/api/server.ts
  client/src/components/common/Dropzone/Dropzone.tsx
  client/src/components/common/Table/Table.tsx
  client/src/components/result/TableContent/TableContent.tsx
  client/src/constants/api.ts
  client/src/constants/key.ts
  client/src/constants/path.ts
  client/src/hooks/.gitkeep
  client/src/hooks/queryClient.ts
  client/src/hooks/useAttacks.ts
  client/src/main.tsx
  client/src/pages/ResultPage/ResultPage.tsx
  client/src/types/.gitkeep
  client/src/types/api.ts
  client/src/types/file.ts
  client/src/types/threat.ts
  client/src/utils/attack.ts
  client/src/utils/i18n.ts
  client/src/utils/string.ts
  client/tailwind.config.js
  client/yarn.lock
Labels: ✨ Feature, 🌐 Client

#21 가이드 페이지 개발 완료
  client/package.json
  client/src/components/common/Navbar/Navbar.tsx
  client/src/components/result/TableContent/TableContent.tsx
  client/src/constants/path.ts
  client/src/main.tsx
  client/src/pages/GuidePage/.gitkeep
  client/src/pages/GuidePage/GuidePage.tsx
  client/src/pages/ResultPage/ResultPage.tsx
  client/src/router/Router.tsx
  client/src/types/file.ts
  client/src/utils/attack.ts
  client/src/utils/i18n.ts
  client/yarn.lock
Labels: ✨ Feature, 🌐 Client

#26 CSV Download 개발 완료
  client/src/api/attack.ts
  client/src/components/result/CSVDownloadButton/CSVDownloadButton.tsx
  client/src/components/result/TableContent/TableContent.tsx
  client/src/constants/header.ts
  client/src/hooks/useAttacks.ts
  client/src/pages/ResultPage/ResultPage.tsx
  client/src/router/Layout.tsx
  client/src/types/model.ts
  client/src/utils/string.ts
Labels: ✨ Feature, 🌐 Client

#28 결과 페이지 UI 개선 완료
  client/src/components/result/TableContent/TableContent.tsx
  client/src/pages/ResultPage/ResultPage.tsx
  client/tailwind.config.js
Labels: ✨ Feature, 🌐 Client

#30 파일 파싱 에러 개선
  client/src/components/common/Dropzone/Dropzone.tsx
  client/src/components/result/CSVDownloadButton/CSVDownloadButton.tsx
  client/src/components/result/TableContent/TableContent.tsx
  client/src/types/common.ts
  client/src/types/file.ts
  client/src/types/model.ts
  client/src/utils/attack.ts
  client/src/utils/model.ts
Labels: ✨ Feature, 🌐 Client

#32 ErrorPage 개발 완료
  client/src/components/result/TableContent/TableContent.tsx
  client/src/constants/path.ts
  client/src/pages/ErrorPage/ErrorPage.tsx
  client/src/router/Router.tsx
  client/src/utils/i18n.ts
Labels: ✨ Feature, 🌐 Client

#35 LoadingPage 개발 완료
  client/.env.example
  client/.gitignore
  client/package.json
  client/src/api/server.ts
  client/src/components/common/Dropzone/Dropzone.tsx
  client/src/components/result/TermsOfUseModal/TermsOfUseModal.tsx
  client/src/constants/api.ts
  client/src/constants/common.ts
  client/src/hooks/useAttacks.ts
  client/src/pages/GuidePage/GuidePage.tsx
  client/src/pages/ResultPage/ResultPageSkeleton.tsx
  client/src/router/Router.tsx
Labels: ✨ Feature, 🌐 Client

#37 release-1.0.0
  client/package.json
  server/build.gradle
Labels: ⚙️ Environment, 🌐 Client, 💾 Server

#39 Support Dark Mode
  client/src/components/common/Dropzone/Dropzone.tsx
  client/src/components/common/Footer/Footer.tsx
  client/src/components/common/Hr/Hr.tsx
  client/src/components/common/Navbar/Navbar.tsx
  client/src/components/common/Table/Table.tsx
  client/src/components/common/ThemeSwitch/ThemeSwitch.tsx
  client/src/components/home/HomeExplain/HomeExplain.tsx
  client/src/components/home/HomeTitle/HomeTitle.tsx
  client/src/components/result/TableContent/TableContent.tsx
  client/src/components/result/TermsOfUseModal/TermsOfUseModal.tsx
  client/src/pages/GuidePage/GuidePage.tsx
  client/src/styles/globals.css
  client/src/styles/pattern.css
  client/src/utils/i18n.ts
  client/yarn.lock
Labels: ✨ Feature, 🌐 Client
